.login {
    max-width: 300px;
    margin: 100px auto;
}

.login input {
    margin: 8px 0;
  padding: 0.5rem;
  outline: none;
  border: 0.0625rem solid #acacac;
  border-radius: 0.375rem;
  font-size: 1rem;
}

.login p {
    margin-bottom: 8px;
    font-size: 12px;
    color: red;
}